<a href="https://colab.research.google.com/github/melikesentuk/steps/blob/main/case3KuralTabanl%C4%B1S%C4%B1n%C4%B1fland%C4%B1rma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ðŸ’£
#############################################
# GÃ–REV 1: AÅŸaÄŸÄ±daki sorularÄ± yanÄ±tlayÄ±nÄ±z.
#############################################

âš¡ Soru_1:veri seti ile ilgili genel bilgiler

In [5]:
df = pd.read_csv("/content/persona.csv")
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [6]:
df.describe().T

        count     mean        std   min   25%   50%   75%   max
PRICE  5000.0  34.1320  12.464897   9.0  29.0  39.0  39.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  17.0  21.0  27.0  66.0

In [7]:
df.shape

(5000, 5)

In [8]:
df.columns.values

array(['PRICE', 'SOURCE', 'SEX', 'COUNTRY', 'AGE'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

âš¡Soru 2: KaÃ§ unique SOURCE vardÄ±r? FrekanslarÄ± nedir?

In [10]:
df["SOURCE"].nunique()

2

In [11]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

âš¡ Soru 3: KaÃ§ unique PRICE vardÄ±r?

In [12]:
df["PRICE"].nunique()

6

âš¡  Soru 4: Hangi PRICE'dan kaÃ§ar tane satÄ±ÅŸ gerÃ§ekleÅŸmiÅŸ?

In [13]:
df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

âš¡  Soru 5: Hangi Ã¼lkeden kaÃ§ar tane satÄ±ÅŸ olmuÅŸ?

In [14]:
df["COUNTRY"].value_counts()
# satÄ±ÅŸÄ± yÃ¼ksek olandan dÃ¼ÅŸÃ¼k olana doÄŸru

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [15]:
df.groupby("COUNTRY")["PRICE"].count()
# alfaetik sÄ±raya gÃ¶re satÄ±ÅŸ miktarÄ±

COUNTRY
bra    1496
can     230
deu     455
fra     303
tur     451
usa    2065
Name: PRICE, dtype: int64

In [16]:
df.pivot_table(values="PRICE",index="COUNTRY",aggfunc="count")

         PRICE
COUNTRY
bra       1496
can        230
deu        455
fra        303
tur        451
usa       2065

âš¡ Soru 6: Ãœlkelere gÃ¶re satÄ±ÅŸlardan toplam ne kadar kazanÄ±lmÄ±ÅŸ?

In [17]:
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [18]:
df.groupby("COUNTRY").agg({"PRICE": "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [19]:
df.pivot_table(values="PRICE",index="COUNTRY",aggfunc="sum")

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

âš¡  Soru 7: SOURCE tÃ¼rlerine gÃ¶re gÃ¶re satÄ±ÅŸ sayÄ±larÄ± nedir?

In [20]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

âš¡  Soru 8: Ãœlkelere gÃ¶re PRICE ortalamalarÄ± nedir?

In [21]:
df.groupby("COUNTRY")["PRICE"].mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

In [22]:
df.groupby(by=['COUNTRY']).agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

âš¡ Soru 9:   SOURCE'lara gÃ¶re PRICE ortalamalarÄ± nedir?

In [23]:
df.groupby("SOURCE")["PRICE"].mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [24]:
df.groupby(by=["SOURCE"]).agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

âš¡ Soru 10: COUNTRY-SOURCE kÄ±rÄ±lÄ±mÄ±nda PRICE ortalamalarÄ± nedir?

In [25]:
df.groupby(by=["COUNTRY","SOURCE"]).agg({"PRICE":"mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

ðŸ’£
#############################################
# GÃ–REV 2: COUNTRY, SOURCE, SEX, AGE kÄ±rÄ±lÄ±mÄ±nda ortalama kazanÃ§lar nedir?
#############################################

In [26]:
df.groupby(by=["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

ðŸ’£
#############################################
# GÃ–REV 3: Ã‡Ä±ktÄ±yÄ± PRICE'a gÃ¶re sÄ±ralayÄ±nÄ±z.
#############################################

# Ã–nceki sorudaki Ã§Ä±ktÄ±yÄ± daha iyi gÃ¶rebilmek iÃ§in sort_values metodunu azalan olacak ÅŸekilde PRICE'a uygulayÄ±nÄ±z.
# Ã‡Ä±ktÄ±yÄ± agg_df olarak kaydediniz.

In [27]:
agg_df = df.groupby(by=["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

################################
# GÃ–REV 4: Indekste yer alan isimleri deÄŸiÅŸken ismine Ã§eviriniz.
#############################################
# ÃœÃ§Ã¼ncÃ¼ sorunun Ã§Ä±ktÄ±sÄ±nda yer alan PRICE dÄ±ÅŸÄ±ndaki tÃ¼m deÄŸiÅŸkenler index isimleridir.
# Bu isimleri deÄŸiÅŸken isimlerine Ã§eviriniz.
# Ä°pucu: reset_index()
# agg_df.reset_index(inplace=True)

In [28]:
agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

GÃ–REV 5: AGE deÄŸiÅŸkenini kategorik deÄŸiÅŸkene Ã§eviriniz ve agg_df'e ekleyiniz.

Age sayÄ±sal deÄŸiÅŸkenini kategorik deÄŸiÅŸkene Ã§eviriniz.

AralÄ±klarÄ± ikna edici olacaÄŸÄ±nÄ± dÃ¼ÅŸÃ¼ndÃ¼ÄŸÃ¼nÃ¼z ÅŸekilde oluÅŸturunuz.

Ã–rneÄŸin: '0_18', '19_23', '24_30', '31_40', '41_70'

In [29]:
# AGE deÄŸiÅŸkeninin nerelerden bÃ¶lÃ¼neceÄŸini belirtelim:
bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]

In [30]:
#  BÃ¶lÃ¼nen noktalara karÅŸÄ±lÄ±k isimlendirmelerin ne olacaÄŸÄ±nÄ± ifade edelim:
mylabels = ['0_18', '19_23', '24_30', '31_40', '41_' + str(agg_df["AGE"].max())]

In [31]:
#Age'i bÃ¶lelim:
agg_df["age_cat"] = pd.cut(agg_df["AGE"], bins, labels=mylabels)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

GÃ–REV 6: Yeni level based mÃ¼ÅŸterileri tanÄ±mlayÄ±nÄ±z ve veri setine deÄŸiÅŸken olarak ekleyiniz.

customers_level_based adÄ±nda bir deÄŸiÅŸken tanÄ±mlayÄ±nÄ±z ve veri setine bu deÄŸiÅŸkeni ekleyiniz.
Dikkat! list comp ile customers_level_based deÄŸerleri oluÅŸturulduktan sonra bu deÄŸerlerin tekilleÅŸtirilmesi gerekmektedir.

Ã–rneÄŸin birden fazla ÅŸu ifadeden olabilir: USA_ANDROID_MALE_0_18

BunlarÄ± groupby'a alÄ±p price ortalamalarÄ±nÄ± almak gerekmektedir.

In [32]:
# YÃ–NTEM 1
# deÄŸiÅŸken isimleri:
agg_df.columns

Index(['COUNTRY', 'SOURCE', 'SEX', 'AGE', 'PRICE', 'age_cat'], dtype='object')

In [33]:
# gÃ¶zlem deÄŸerlerine nasÄ±l eriÅŸiriz?
for row in agg_df.values:
    print(row)

['bra' 'android' 'male' 46 59.0 '41_66']
['usa' 'android' 'male' 36 59.0 '31_40']
['fra' 'android' 'female' 24 59.0 '24_30']
['usa' 'ios' 'male' 32 54.0 '31_40']
['deu' 'android' 'female' 36 49.0 '31_40']
['deu' 'android' 'female' 51 49.0 '41_66']
['deu' 'ios' 'male' 20 49.0 '19_23']
['usa' 'android' 'female' 47 49.0 '41_66']
['fra' 'ios' 'male' 20 49.0 '19_23']
['usa' 'ios' 'male' 59 46.5 '41_66']
['deu' 'android' 'male' 15 46.5 '0_18']
['bra' 'android' 'female' 30 45.666666666666664 '24_30']
['usa' 'android' 'female' 61 45.666666666666664 '41_66']
['tur' 'ios' 'male' 24 45.0 '24_30']
['deu' 'android' 'male' 34 45.0 '31_40']
['tur' 'ios' 'female' 18 44.0 '0_18']
['bra' 'android' 'female' 43 44.0 '41_66']
['bra' 'ios' 'female' 22 44.0 '19_23']
['tur' 'android' 'female' 32 43.0 '31_40']
['bra' 'android' 'female' 39 43.0 '31_40']
['tur' 'ios' 'male' 37 42.333333333333336 '31_40']
['tur' 'android' 'male' 15 42.333333333333336 '0_18']
['usa' 'ios' 'male' 28 42.333333333333336 '24_30']
['bra' 'ios' 'male' 43 42.333333333333336 '41_66']
['deu' 'android' 'male' 20 41.72727272727273 '19_23']
['usa' 'ios' 'male' 30 41.72727272727273 '24_30']
['tur' 'android' 'female' 18 41.5 '0_18']
['usa' 'android' 'male' 47 41.5 '41_66']
['tur' 'android' 'male' 25 41.5 '24_30']
['usa' 'ios' 'female' 59 41.5 '41_66']
['fra' 'android' 'male' 23 41.30769230769231 '19_23']
['usa' 'ios' 'male' 31 41.0 '31_40']
['tur' 'android' 'female' 15 41.0 '0_18']
['fra' 'ios' 'male' 17 40.666666666666664 '0_18']
['tur' 'ios' 'female' 21 40.666666666666664 '19_23']
['tur' 'android' 'female' 31 40.666666666666664 '31_40']
['tur' 'android' 'male' 27 40.666666666666664 '24_30']
['fra' 'android' 'male' 19 40.53846153846154 '19_23']
['bra' 'android' 'male' 24 40.42857142857143 '24_30']
['can' 'android' 'male' 30 40.25 '24_30']
['can' 'android' 'male' 20 40.111111111111114 '19_23']
['usa' 'android' 'male' 43 39.90909090909091 '41_66']
['tur' 'android' 'male' 26 39.666666666666664 '24_30']
['bra' 'android' 'male' 40 39.625 '31_40']
['bra' 'android' 'male' 15 39.3448275862069 '0_18']
['usa' 'ios' 'female' 19 39.285714285714285 '19_23']
['tur' 'android' 'male' 49 39.0 '41_66']
['bra' 'ios' 'female' 19 39.0 '19_23']
['usa' 'ios' 'male' 50 39.0 '41_66']
['bra' 'ios' 'female' 25 39.0 '24_30']
['deu' 'android' 'female' 38 39.0 '31_40']
['deu' 'ios' 'male' 16 39.0 '0_18']
['fra' 'android' 'female' 21 39.0 '19_23']
['fra' 'android' 'male' 33 39.0 '31_40']
['tur' 'ios' 'female' 31 39.0 '31_40']
['fra' 'ios' 'male' 51 39.0 '41_66']
['bra' 'android' 'female' 32 39.0 '31_40']
['tur' 'ios' 'male' 16 39.0 '0_18']
['bra' 'ios' 'female' 42 39.0 '41_66']
['tur' 'android' 'male' 17 39.0 '0_18']
['tur' 'android' 'female' 49 39.0 '41_66']
['bra' 'android' 'female' 15 38.714285714285715 '0_18']
['usa' 'ios' 'male' 21 38.53488372093023 '19_23']
['usa' 'ios' 'female' 17 38.45945945945946 '0_18']
['fra' 'ios' 'male' 31 38.375 '31_40']
['tur' 'android' 'male' 16 38.285714285714285 '0_18']
['deu' 'android' 'male' 37 38.166666666666664 '31_40']
['usa' 'ios' 'female' 25 38.0 '24_30']
['deu' 'ios' 'female' 17 37.8235294117647 '0_18']
['can' 'ios' 'male' 17 37.666666666666664 '0_18']
['can' 'android' 'male' 49 37.57142857142857 '41_66']
['bra' 'android' 'female' 29 37.57142857142857 '24_30']
['tur' 'android' 'female' 26 37.57142857142857 '24_30']
['can' 'ios' 'male' 15 37.57142857142857 '0_18']
['bra' 'ios' 'male' 33 37.57142857142857 '31_40']
['fra' 'android' 'female' 15 37.57142857142857 '0_18']
['deu' 'ios' 'female' 18 37.333333333333336 '0_18']
['can' 'android' 'female' 18 37.333333333333336 '0_18']
['tur' 'ios' 'female' 20 37.333333333333336 '19_23']
['deu' 'android' 'male' 23 37.333333333333336 '19_23']
['bra' 'android' 'female' 21 37.292682926829265 '19_23']
['usa' 'android' 'female' 33 37.18181818181818 '31_40']
['bra' 'ios' 'male' 22 37.18181818181818 '19_23']
['bra' 'android' 'male' 17 37.1578947368421 '0_18']
['bra' 'android' 'male' 26 37.095238095238095 '24_30']
['usa' 'android' 'male' 26 37.0 '24_30']
['tur' 'android' 'female' 21 37.0 '19_23']
['deu' 'ios' 'male' 42 37.0 '41_66']
['bra' 'android' 'female' 56 37.0 '41_66']
['bra' 'ios' 'male' 15 36.878787878787875 '0_18']
['usa' 'ios' 'female' 26 36.857142857142854 '24_30']
['bra' 'ios' 'female' 15 36.77777777777778 '0_18']
['bra' 'ios' 'male' 35 36.77777777777778 '31_40']
['fra' 'android' 'female' 16 36.72727272727273 '0_18']
['usa' 'android' 'male' 20 36.64705882352941 '19_23']
['bra' 'ios' 'female' 18 36.5 '0_18']
['bra' 'android' 'male' 44 36.5 '41_66']
['bra' 'android' 'female' 24 36.5 '24_30']
['usa' 'android' 'male' 30 36.142857142857146 '24_30']
['tur' 'android' 'female' 52 36.142857142857146 '41_66']
['usa' 'ios' 'female' 28 36.142857142857146 '24_30']
['deu' 'ios' 'female' 26 36.0 '24_30']
['can' 'android' 'male' 15 36.0 '0_18']
['bra' 'android' 'female' 16 35.94444444444444 '0_18']
['tur' 'android' 'male' 24 35.92307692307692 '24_30']
['usa' 'android' 'male' 51 35.875 '41_66']
['usa' 'ios' 'female' 21 35.8 '19_23']
['usa' 'android' 'female' 19 35.76470588235294 '19_23']
['fra' 'ios' 'male' 19 35.666666666666664 '19_23']
['fra' 'android' 'male' 55 35.666666666666664 '41_66']
['bra' 'android' 'male' 41 35.666666666666664 '41_66']
['tur' 'android' 'male' 22 35.666666666666664 '19_23']
['bra' 'android' 'female' 25 35.666666666666664 '24_30']
['usa' 'android' 'female' 35 35.666666666666664 '31_40']
['usa' 'ios' 'female' 29 35.666666666666664 '24_30']
['bra' 'android' 'female' 17 35.666666666666664 '0_18']
['tur' 'ios' 'female' 19 35.666666666666664 '19_23']
['deu' 'ios' 'female' 16 35.557377049180324 '0_18']
['usa' 'android' 'male' 41 35.42857142857143 '41_66']
['bra' 'android' 'male' 20 35.4 '19_23']
['deu' 'android' 'male' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 45 35.36363636363637 '41_66']
['bra' 'android' 'male' 30 35.36363636363637 '24_30']
['deu' 'android' 'female' 24 35.36363636363637 '24_30']
['bra' 'ios' 'male' 17 35.333333333333336 '0_18']
['bra' 'android' 'male' 21 35.25 '19_23']
['usa' 'android' 'female' 49 35.25 '41_66']
['bra' 'android' 'male' 19 35.21621621621622 '19_23']
['bra' 'android' 'female' 19 35.206896551724135 '19_23']
['usa' 'android' 'male' 18 35.19047619047619 '0_18']
['bra' 'ios' 'female' 37 35.111111111111114 '31_40']
['usa' 'ios' 'male' 27 35.111111111111114 '24_30']
['bra' 'android' 'female' 31 35.09756097560975 '31_40']
['usa' 'ios' 'female' 20 35.0 '19_23']
['usa' 'android' 'female' 31 35.0 '31_40']
['fra' 'ios' 'male' 22 35.0 '19_23']
['deu' 'android' 'female' 22 35.0 '19_23']
['can' 'ios' 'male' 16 35.0 '0_18']
['deu' 'ios' 'male' 17 35.0 '0_18']
['usa' 'ios' 'female' 65 35.0 '41_66']
['deu' 'ios' 'male' 25 35.0 '24_30']
['bra' 'android' 'female' 22 34.945945945945944 '19_23']
['usa' 'android' 'female' 16 34.90163934426229 '0_18']
['bra' 'ios' 'male' 23 34.88235294117647 '19_23']
['usa' 'android' 'male' 23 34.84905660377358 '19_23']
['tur' 'ios' 'male' 17 34.806451612903224 '0_18']
['usa' 'android' 'female' 28 34.78947368421053 '24_30']
['usa' 'ios' 'male' 16 34.714285714285715 '0_18']
['bra' 'ios' 'male' 34 34.714285714285715 '31_40']
['usa' 'android' 'male' 22 34.714285714285715 '19_23']
['usa' 'android' 'male' 35 34.714285714285715 '31_40']
['usa' 'android' 'male' 31 34.714285714285715 '31_40']
['usa' 'ios' 'female' 47 34.714285714285715 '41_66']
['usa' 'android' 'male' 15 34.663716814159294 '0_18']
['fra' 'android' 'female' 17 34.65217391304348 '0_18']
['usa' 'android' 'female' 17 34.625 '0_18']
['usa' 'ios' 'male' 18 34.57692307692308 '0_18']
['bra' 'android' 'female' 38 34.55555555555556 '31_40']
['usa' 'ios' 'female' 33 34.55555555555556 '31_40']
['tur' 'android' 'female' 16 34.55555555555556 '0_18']
['deu' 'android' 'female' 25 34.45454545454545 '24_30']
['usa' 'android' 'male' 17 34.45454545454545 '0_18']
['usa' 'android' 'male' 28 34.38461538461539 '24_30']
['bra' 'ios' 'female' 26 34.333333333333336 '24_30']
['usa' 'android' 'female' 21 34.18518518518518 '19_23']
['bra' 'ios' 'female' 54 34.0 '41_66']
['deu' 'android' 'female' 23 34.0 '19_23']
['usa' 'ios' 'male' 26 34.0 '24_30']
['fra' 'ios' 'male' 26 34.0 '24_30']
['bra' 'ios' 'female' 27 34.0 '24_30']
['can' 'android' 'female' 43 34.0 '41_66']
['usa' 'ios' 'female' 22 34.0 '19_23']
['usa' 'ios' 'male' 20 34.0 '19_23']
['bra' 'ios' 'male' 19 34.0 '19_23']
['tur' 'ios' 'female' 23 34.0 '19_23']
['tur' 'ios' 'female' 25 34.0 '24_30']
['tur' 'ios' 'female' 26 34.0 '24_30']
['deu' 'ios' 'female' 22 34.0 '19_23']
['tur' 'ios' 'female' 51 34.0 '41_66']
['deu' 'android' 'male' 21 34.0 '19_23']
['bra' 'ios' 'female' 24 34.0 '24_30']
['usa' 'android' 'male' 16 34.0 '0_18']
['usa' 'ios' 'male' 53 34.0 '41_66']
['usa' 'android' 'female' 42 34.0 '41_66']
['fra' 'android' 'female' 35 34.0 '31_40']
['usa' 'android' 'male' 25 34.0 '24_30']
['usa' 'android' 'female' 25 34.0 '24_30']
['deu' 'ios' 'female' 23 34.0 '19_23']
['bra' 'ios' 'male' 24 33.86486486486486 '24_30']
['usa' 'ios' 'female' 15 33.857142857142854 '0_18']
['usa' 'android' 'female' 22 33.8 '19_23']
['bra' 'ios' 'male' 16 33.76190476190476 '0_18']
['deu' 'android' 'female' 17 33.73684210526316 '0_18']
['bra' 'android' 'female' 37 33.73684210526316 '31_40']
['usa' 'ios' 'male' 15 33.729729729729726 '0_18']
['can' 'ios' 'female' 15 33.705882352941174 '0_18']
['tur' 'android' 'female' 17 33.6875 '0_18']
['bra' 'ios' 'female' 16 33.6875 '0_18']
['fra' 'ios' 'female' 15 33.61538461538461 '0_18']
['bra' 'android' 'female' 45 33.61538461538461 '41_66']
['bra' 'ios' 'male' 44 33.54545454545455 '41_66']
['usa' 'android' 'male' 27 33.285714285714285 '24_30']
['bra' 'android' 'female' 26 33.166666666666664 '24_30']
['usa' 'android' 'female' 23 33.1025641025641 '19_23']
['bra' 'android' 'male' 18 33.054054054054056 '0_18']
['bra' 'ios' 'female' 46 33.0 '41_66']
['usa' 'android' 'male' 42 33.0 '41_66']
['fra' 'ios' 'female' 40 33.0 '31_40']
['fra' 'android' 'male' 25 33.0 '24_30']
['deu' 'ios' 'female' 32 33.0 '31_40']
['usa' 'ios' 'female' 18 32.91304347826087 '0_18']
['deu' 'android' 'male' 17 32.91304347826087 '0_18']
['usa' 'ios' 'male' 17 32.91304347826087 '0_18']
['bra' 'ios' 'female' 20 32.84615384615385 '19_23']
['tur' 'ios' 'male' 15 32.84615384615385 '0_18']
['usa' 'android' 'male' 19 32.80952380952381 '19_23']
['usa' 'ios' 'female' 23 32.80952380952381 '19_23']
['usa' 'ios' 'female' 24 32.75 '24_30']
['bra' 'ios' 'male' 18 32.68421052631579 '0_18']
['usa' 'android' 'female' 15 32.666666666666664 '0_18']
['fra' 'ios' 'female' 31 32.63636363636363 '31_40']
['bra' 'ios' 'female' 17 32.63636363636363 '0_18']
['tur' 'ios' 'female' 22 32.63636363636363 '19_23']
['bra' 'android' 'male' 27 32.63636363636363 '24_30']
['fra' 'ios' 'female' 18 32.57142857142857 '0_18']
['can' 'android' 'female' 19 32.529411764705884 '19_23']
['usa' 'android' 'female' 18 32.40425531914894 '0_18']
['deu' 'android' 'male' 18 32.333333333333336 '0_18']
['usa' 'android' 'male' 21 32.333333333333336 '19_23']
['deu' 'android' 'female' 34 32.333333333333336 '31_40']
['usa' 'android' 'female' 44 32.333333333333336 '41_66']
['fra' 'android' 'male' 32 32.333333333333336 '31_40']
['deu' 'android' 'female' 28 32.333333333333336 '24_30']
['fra' 'android' 'male' 46 32.333333333333336 '41_66']
['bra' 'ios' 'female' 28 32.333333333333336 '24_30']
['deu' 'android' 'male' 31 32.333333333333336 '31_40']
['tur' 'android' 'female' 20 32.333333333333336 '19_23']
['tur' 'android' 'female' 50 32.333333333333336 '41_66']
['bra' 'android' 'female' 41 32.333333333333336 '41_66']
['bra' 'ios' 'female' 35 32.333333333333336 '31_40']
['bra' 'android' 'female' 18 32.25581395348837 '0_18']
['usa' 'ios' 'male' 22 32.170731707317074 '19_23']
['fra' 'android' 'female' 23 32.125 '19_23']
['deu' 'android' 'female' 27 32.125 '24_30']
['deu' 'android' 'female' 15 32.0 '0_18']
['bra' 'android' 'female' 23 31.941176470588236 '19_23']
['usa' 'ios' 'male' 25 31.857142857142858 '24_30']
['bra' 'android' 'male' 36 31.857142857142858 '31_40']
['fra' 'android' 'female' 26 31.857142857142858 '24_30']
['usa' 'ios' 'male' 37 31.727272727272727 '31_40']
['can' 'ios' 'female' 29 31.727272727272727 '24_30']
['can' 'android' 'female' 20 31.5 '19_23']
['usa' 'ios' 'female' 27 31.5 '24_30']
['bra' 'android' 'male' 35 31.5 '31_40']
['usa' 'ios' 'female' 16 31.5 '0_18']
['deu' 'android' 'female' 44 31.5 '41_66']
['deu' 'ios' 'male' 32 31.352941176470587 '31_40']
['usa' 'android' 'female' 20 31.285714285714285 '19_23']
['deu' 'android' 'male' 19 31.22222222222222 '19_23']
['can' 'ios' 'male' 25 31.17391304347826 '24_30']
['tur' 'ios' 'male' 42 31.105263157894736 '41_66']
['can' 'ios' 'male' 57 31.0 '41_66']
['bra' 'android' 'male' 22 31.0 '19_23']
['deu' 'android' 'female' 21 31.0 '19_23']
['bra' 'ios' 'male' 21 31.0 '19_23']
['bra' 'android' 'female' 20 31.0 '19_23']
['tur' 'android' 'female' 19 31.0 '19_23']
['deu' 'ios' 'male' 30 31.0 '24_30']
['usa' 'ios' 'female' 34 30.875 '31_40']
['usa' 'android' 'female' 26 30.77777777777778 '24_30']
['deu' 'ios' 'female' 15 30.666666666666668 '0_18']
['fra' 'ios' 'male' 16 30.666666666666668 '0_18']
['bra' 'android' 'male' 25 30.428571428571427 '24_30']
['bra' 'ios' 'female' 29 30.428571428571427 '24_30']
['bra' 'ios' 'male' 66 30.428571428571427 '41_66']
['fra' 'ios' 'female' 28 30.428571428571427 '24_30']
['usa' 'ios' 'female' 50 30.304347826086957 '41_66']
['usa' 'ios' 'male' 33 30.304347826086957 '31_40']
['usa' 'ios' 'male' 42 30.25 '41_66']
['fra' 'android' 'male' 15 30.25 '0_18']
['tur' 'ios' 'female' 17 30.176470588235293 '0_18']
['bra' 'ios' 'male' 42 30.11111111111111 '41_66']
['usa' 'android' 'female' 24 30.05263157894737 '24_30']
['can' 'android' 'male' 24 29.76923076923077 '24_30']
['bra' 'ios' 'female' 23 29.76923076923077 '19_23']
['bra' 'android' 'male' 29 29.714285714285715 '24_30']
['can' 'android' 'female' 16 29.689655172413794 '0_18']
['bra' 'android' 'male' 16 29.666666666666668 '0_18']
['usa' 'ios' 'female' 35 29.625 '31_40']
['fra' 'ios' 'male' 15 29.0 '0_18']
['fra' 'ios' 'male' 27 29.0 '24_30']
['bra' 'android' 'male' 53 29.0 '41_66']
['fra' 'ios' 'male' 38 29.0 '31_40']
['can' 'ios' 'male' 32 29.0 '31_40']
['usa' 'ios' 'female' 42 29.0 '41_66']
['can' 'ios' 'female' 16 29.0 '0_18']
['deu' 'ios' 'male' 23 29.0 '19_23']
['deu' 'ios' 'female' 24 29.0 '24_30']
['deu' 'android' 'male' 32 29.0 '31_40']
['deu' 'android' 'male' 24 29.0 '24_30']
['deu' 'android' 'female' 33 29.0 '31_40']
['usa' 'ios' 'male' 55 29.0 '41_66']
['tur' 'android' 'female' 56 29.0 '41_66']
['bra' 'ios' 'male' 31 29.0 '31_40']
['usa' 'android' 'male' 38 29.0 '31_40']
['usa' 'android' 'male' 57 29.0 '41_66']
['usa' 'android' 'female' 27 29.0 '24_30']
['usa' 'android' 'male' 34 29.0 '31_40']
['usa' 'android' 'male' 37 29.0 '31_40']
['bra' 'ios' 'male' 37 29.0 '31_40']
['usa' 'android' 'female' 30 29.0 '24_30']
['tur' 'android' 'male' 36 29.0 '31_40']
['tur' 'ios' 'female' 16 29.0 '0_18']
['bra' 'android' 'male' 28 28.23076923076923 '24_30']
['usa' 'android' 'female' 32 28.166666666666668 '31_40']
['usa' 'android' 'female' 34 28.0 '31_40']
['deu' 'android' 'female' 41 27.75 '41_66']
['fra' 'ios' 'female' 16 27.75 '0_18']
['bra' 'ios' 'female' 31 27.571428571428573 '31_40']
['tur' 'ios' 'male' 19 27.333333333333332 '19_23']
['fra' 'android' 'female' 19 27.333333333333332 '19_23']
['deu' 'android' 'female' 16 27.0 '0_18']
['bra' 'android' 'female' 27 26.142857142857142 '24_30']
['usa' 'android' 'male' 24 26.058823529411764 '24_30']
['can' 'android' 'female' 15 25.666666666666668 '0_18']
['tur' 'ios' 'female' 38 25.666666666666668 '31_40']
['fra' 'android' 'male' 21 25.666666666666668 '19_23']
['usa' 'android' 'male' 65 25.666666666666668 '41_66']
['fra' 'ios' 'female' 25 25.0 '24_30']
['bra' 'android' 'female' 34 24.0 '31_40']
['tur' 'android' 'female' 29 24.0 '24_30']
['usa' 'ios' 'male' 36 24.0 '31_40']
['usa' 'ios' 'male' 29 24.0 '24_30']
['bra' 'android' 'female' 28 22.333333333333332 '24_30']
['tur' 'ios' 'male' 21 22.333333333333332 '19_23']
['usa' 'android' 'male' 29 22.333333333333332 '24_30']
['bra' 'ios' 'male' 36 22.333333333333332 '31_40']
['bra' 'android' 'male' 23 21.5 '19_23']
['tur' 'android' 'male' 21 19.0 '19_23']
['tur' 'ios' 'male' 47 19.0 '41_66']
['bra' 'ios' 'female' 34 19.0 '31_40']
['bra' 'ios' 'male' 47 19.0 '41_66']
['usa' 'ios' 'female' 38 19.0 '31_40']
['usa' 'ios' 'female' 30 19.0 '24_30']
['can' 'android' 'female' 27 19.0 '24_30']
['fra' 'android' 'male' 18 19.0 '0_18']
['deu' 'android' 'male' 26 9.0 '24_30']

In [34]:
# COUNTRY, SOURCE, SEX ve age_cat deÄŸiÅŸkenlerinin DEÄžERLERÄ°NÄ° yan yana koymak ve alt tireyle birleÅŸtirmek istiyoruz.
# Bunu list comprehension ile yapabiliriz.
# YukarÄ±daki dÃ¶ngÃ¼deki gÃ¶zlem deÄŸerlerinin bize lazÄ±m olanlarÄ±nÄ± seÃ§ecek ÅŸekilde iÅŸlemi gerÃ§ekletirelim:
[row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

['BRA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_IOS_MALE_19_23',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_IOS_MALE_19_23',
 'USA_IOS_MALE_41_66',
 'DEU_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_41_66',
 'TUR_IOS_MALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'USA_IOS_MALE_24_30',
 'BRA_IOS_MALE_41_66',
 'DEU_ANDROID_MALE_19_23',
 'USA_IOS_MALE_24_30',
 'TUR_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_24_30',
 'USA_IOS_FEMALE_41_66',
 'FRA_ANDROID_MALE_19_23',
 'USA_IOS_MALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_MALE_24_30',
 'FRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_19_23',
 'TUR_ANDROID_MALE_41_66',
 'BRA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_41_66',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_IOS_MALE_0_18',
 'FRA_ANDROID_FEMALE_19_23',
 'FRA_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_41_66',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_41_66',
 'TUR_ANDROID_MALE_0_18',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'USA_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'CAN_IOS_MALE_0_18',
 'CAN_ANDROID_MALE_41_66',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_FEMALE_24_30',
 'CAN_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'DEU_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_0_18',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_41_66',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_24_30',
 'CAN_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_41_66',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'FRA_IOS_MALE_19_23',
 'FRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_IOS_FEMALE_0_18',
 'USA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_41_66',
 'BRA_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_19_23',
 'USA_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'FRA_IOS_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'CAN_IOS_MALE_0_18',
 'DEU_IOS_MALE_0_18',
 'USA_IOS_FEMALE_41_66',
 'DEU_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'BRA_IOS_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_41_66',
 'USA_ANDROID_MALE_0_18',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_FEMALE_41_66',
 'DEU_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'FRA_IOS_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_41_66',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_19_23',
 'BRA_IOS_MALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_24_30',
 'TUR_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_41_66',
 'DEU_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_IOS_MALE_41_66',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'BRA_IOS_MALE_24_30',
 'USA_IOS_FEMALE_0_18',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_0_18',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_0_18',
 'CAN_IOS_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_0_18',
 'BRA_IOS_FEMALE_0_18',
 'FRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_41_66',
 'USA_ANDROID_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'FRA_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_24_30',
 'DEU_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'FRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'FRA_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_ANDROID_MALE_31_40',
 'DEU_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_41_66',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'CAN_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'CAN_IOS_MALE_24_30',
 'TUR_IOS_MALE_41_66',
 'CAN_IOS_MALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_24_30',
 'USA_IOS_FEMALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_41_66',
 'FRA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_41_66',
 'FRA_ANDROID_MALE_0_18',
 'TUR_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_41_66',
 'USA_ANDROID_FEMALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_0_18',
 'FRA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_41_66',
 'FRA_IOS_MALE_31_40',
 'CAN_IOS_MALE_31_40',
 'USA_IOS_FEMALE_41_66',
 'CAN_IOS_FEMALE_0_18',
 'DEU_IOS_MALE_19_23',
 'DEU_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_41_66',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_66',
 'FRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'TUR_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_66',
 'FRA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_IOS_MALE_19_23',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_MALE_31_40',
 'BRA_ANDROID_MALE_19_23',
 'TUR_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_41_66',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_MALE_41_66',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_24_30']

In [35]:
# Veri setine ekleyelim:
agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat     customers_level_based
0     bra  android    male   46   59.0   41_66    BRA_ANDROID_MALE_41_66
1     usa  android    male   36   59.0   31_40    USA_ANDROID_MALE_31_40
2     fra  android  female   24   59.0   24_30  FRA_ANDROID_FEMALE_24_30
3     usa      ios    male   32   54.0   31_40        USA_IOS_MALE_31_40
4     deu  android  female   36   49.0   31_40  DEU_ANDROID_FEMALE_31_40

In [36]:
# Gereksiz deÄŸiÅŸkenleri Ã§Ä±karalÄ±m:
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df.head()

      customers_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0

In [37]:
for i in agg_df["customers_level_based"].values:
    print(i.split("_"))

['BRA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['TUR', 'IOS', 'MALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'IOS', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'IOS', 'MALE', '0', '18']
['CAN', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['CAN', 'IOS', 'MALE', '0', '18']
['DEU', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '24', '30']
['TUR', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '0', '18']
['CAN', 'IOS', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['FRA', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['CAN', 'IOS', 'MALE', '24', '30']
['TUR', 'IOS', 'MALE', '41', '66']
['CAN', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '0', '18']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['CAN', 'IOS', 'FEMALE', '0', '18']
['DEU', 'IOS', 'MALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '24', '30']

In [38]:
# AmacÄ±mÄ±za bir adÄ±m daha yaklaÅŸtÄ±k.
# Burada ufak bir problem var. BirÃ§ok aynÄ± segment olacak.
# Ã¶rneÄŸin USA_ANDROID_MALE_0_18 segmentinden birÃ§ok sayÄ±da olabilir.
# kontrol edelim:
agg_df["customers_level_based"].value_counts()

BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_41_66      7
USA_IOS_FEMALE_24_30        7
BRA_ANDROID_FEMALE_24_30    7
USA_ANDROID_MALE_24_30      7
                           ..
TUR_ANDROID_MALE_41_66      1
CAN_ANDROID_MALE_19_23      1
TUR_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
CAN_ANDROID_FEMALE_24_30    1
Name: customers_level_based, Length: 109, dtype: int64

In [39]:
# Bu sebeple segmentlere gÃ¶re groupby yaptÄ±ktan sonra price ortalamalarÄ±nÄ± almalÄ± ve segmentleri tekilleÅŸtirmeliyiz.
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})

In [40]:
# customers_level_based index'te yer almaktadÄ±r. Bunu deÄŸiÅŸkene Ã§evirelim.
agg_df = agg_df.reset_index()
agg_df.head()

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

In [41]:
# kontrol edelim. her bir persona'nÄ±n 1 tane olmasÄ±nÄ± bekleriz:
agg_df["customers_level_based"].value_counts()

BRA_ANDROID_FEMALE_0_18    1
TUR_ANDROID_FEMALE_0_18    1
TUR_IOS_FEMALE_19_23       1
TUR_IOS_FEMALE_0_18        1
TUR_ANDROID_MALE_41_66     1
                          ..
CAN_IOS_MALE_41_66         1
CAN_IOS_MALE_31_40         1
CAN_IOS_MALE_24_30         1
CAN_IOS_MALE_0_18          1
USA_IOS_MALE_41_66         1
Name: customers_level_based, Length: 109, dtype: int64

In [42]:
# GÃ–REV 7: Yeni mÃ¼ÅŸterileri (USA_ANDROID_MALE_0_18) segmentlere ayÄ±rÄ±nÄ±z.
#############################################
# PRICE'a gÃ¶re segmentlere ayÄ±rÄ±nÄ±z,
# segmentleri "SEGMENT" isimlendirmesi ile agg_df'e ekleyiniz,
# segmentleri betimleyiniz,
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])

In [43]:
agg_df.head(30)

       customers_level_based      PRICE SEGMENT
0    BRA_ANDROID_FEMALE_0_18  35.645303       B
1   BRA_ANDROID_FEMALE_19_23  34.077340       C
2   BRA_ANDROID_FEMALE_24_30  33.863946       C
3   BRA_ANDROID_FEMALE_31_40  34.898326       B
4   BRA_ANDROID_FEMALE_41_66  36.737179       A
5      BRA_ANDROID_MALE_0_18  34.805861       B
6     BRA_ANDROID_MALE_19_23  31.673243       D
7     BRA_ANDROID_MALE_24_30  33.413919       C
8     BRA_ANDROID_MALE_31_40  34.327381       B
9     BRA_ANDROID_MALE_41_66  40.041667       A
10       BRA_IOS_FEMALE_0_18  34.900410       B
11      BRA_IOS_FEMALE_19_23  36.403846       A
12      BRA_IOS_FEMALE_24_30  34.015873       C
13      BRA_IOS_FEMALE_31_40  29.875902       D
14      BRA_IOS_FEMALE_41_66  35.340909       B
15         BRA_IOS_MALE_0_18  34.664559       B
16        BRA_IOS_MALE_19_23  34.266043       B
17        BRA_IOS_MALE_24_30  33.864865       C
18        BRA_IOS_MALE_31_40  31.566138       D
19        BRA_IOS_MALE_41_66  31.083694       D
20   CAN_ANDROID_FEMALE_0_18  30.896552       D
21  CAN_ANDROID_FEMALE_19_23  32.014706       D
22  CAN_ANDROID_FEMALE_24_30  19.000000       D
23  CAN_ANDROID_FEMALE_41_66  34.000000       C
24     CAN_ANDROID_MALE_0_18  36.000000       B
25    CAN_ANDROID_MALE_19_23  40.111111       A
26    CAN_ANDROID_MALE_24_30  35.009615       B
27    CAN_ANDROID_MALE_41_66  37.571429       A
28       CAN_IOS_FEMALE_0_18  31.352941       D
29      CAN_IOS_FEMALE_24_30  31.727273       D

In [44]:
agg_df.groupby("SEGMENT").agg({"PRICE": "mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

In [45]:
# GÃ–REV 8: Yeni gelen mÃ¼ÅŸterileri sÄ±nÄ±flandÄ±rÄ±nÄ±z ne kadar gelir getirebileceÄŸini tahmin ediniz.
#############################################
# 33 yaÅŸÄ±nda ANDROID kullanan bir TÃ¼rk kadÄ±nÄ± hangi segmente aittir ve ortalama ne kadar gelir kazandÄ±rmasÄ± beklenir?
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

       customers_level_based      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31_40  41.833333       A

In [46]:
# 35 yaÅŸÄ±nda IOS kullanan bir FransÄ±z kadÄ±nÄ± hangi segmente ve ortalama ne kadar gelir kazandÄ±rmasÄ± beklenir?
new_user = "FRA_IOS_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C