<a href="https://colab.research.google.com/github/melikesentuk/steps/blob/main/RFM_ile_musteri_segmentasyonu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.iş problemi

In [1]:
#Bir e-ticaret şirketi müşterilerini segmentlere ayırıp bu segmentlere göre
#pazarlama stratejileri belirlemek istiyor.

# kütüphaneleri yükleyelim
import pandas as pd
import datetime as dt

In [2]:
# çıktıda tüm satır ve sütünları görmek için ayarlar
pd.set_option('display.max_columns',None)

pd.set_option('display.max_rows',None)  #tüm satır ayarını aktifleştimredim
# sayısal eğerler için virgülden sonra 3 basamak gösterilsin
pd.set_option('display.float_format',lambda x: '%.3f' % x)

In [4]:
# veri setini yükleyelim
df_ = pd.read_excel("/content/online_retail_2.xlsx", sheet_name='Year 2009-2010')

In [6]:
df =df_.copy()

In [7]:
# veri setiyle ilgili bilgi edinelim
df.head()
#invoice : fatura numarası

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.950,13085.000,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.750,13085.000,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.750,13085.000,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.100,13085.000,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.250,13085.000,United Kingdom

In [8]:
df.shape

(525461, 8)

In [9]:
df.isnull().sum()
# customer ıdsi eksik olanlara rfm analizi yapamayız

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [10]:
df['Description'].nunique()

4681

In [11]:
df['Description'].value_counts().head()

WHITE HANGING HEART T-LIGHT HOLDER    3549
REGENCY CAKESTAND 3 TIER              2212
STRAWBERRY CERAMIC TRINKET BOX        1843
PACK OF 72 RETRO SPOT CAKE CASES      1466
ASSORTED COLOUR BIRD ORNAMENT         1457
Name: Description, dtype: int64

In [12]:
from numpy import quantile
# eşsiz ürünlerden ne kadar satılmış
df.groupby('Description').agg({"Quantity":"sum"}).head()

# - değerler ar. muhtemelen iade olduğundan ileride bunudüzeltiriz.
# oyüzden satış miktarına göre sıralama  yapalım

                                     Quantity
Description
21494                                    -720
22467                                      -2
22719                                       2
  DOORMAT UNION JACK GUNS AND ROSES       179
 3 STRIPEY MICE FELTCRAFT                 690

In [13]:
df.groupby('Description').agg({'Quantity':'sum'}).sort_values('Quantity',ascending=False).head()

                                    Quantity
Description
WHITE HANGING HEART T-LIGHT HOLDER     57733
WORLD WAR 2 GLIDERS ASSTD DESIGNS      54698
BROCADE RING PURSE                     47647
PACK OF 72 RETRO SPOT CAKE CASES       46106
ASSORTED COLOUR BIRD ORNAMENT          44925

In [14]:
# kaç fatura kesilmiş
df['Invoice'].nunique()

28816

In [15]:
# kesilen bu faturaların toplamı için quantity * price değerlerini bulmak gerek
df["q_p"]=df["Quantity"]*df["Price"]
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,q_p
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.950,13085.000,United Kingdom,83.400
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.750,13085.000,United Kingdom,81.000
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.750,13085.000,United Kingdom,81.000
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.100,13085.000,United Kingdom,100.800
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.250,13085.000,United Kingdom,30.000

In [16]:
# fatura başına toplam ödenen( müşterinin ödediği) para
df.groupby('Invoice').agg({'q_p':'sum'}).head()

             q_p
Invoice
489434   505.300
489435   145.800
489436   630.330
489437   310.750
489438  2286.240

VERİ HAZIRLAMA

In [17]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
q_p                 0
dtype: int64

In [18]:
# customer ıd descriptino da boş değerler var, onları silelim
df.dropna(inplace=True)
df.isnull().sum()

# aykırı değer analiziyapmayı tercih etmedim çünkü o değerler rfm analizinde 5 e karşılık gelecek

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
q_p            0
dtype: int64

In [19]:
df.size

3757806

In [20]:
# iade olan değerleri veri setinden silelim
# önce c li değerleri görelim / sayısı
df[df['Invoice'].str.contains("C", na=False)].nunique()

Invoice        4372
StockCode      2080
Description    2194
Quantity        157
InvoiceDate    4292
Price           431
Customer ID    1798
Country          26
q_p            1119
dtype: int64

In [21]:
# İnvoice da c içermeyenleri görelim
df  = df[~df['Invoice'].str.contains('C',na=False)]

In [22]:
df.size   # silmeden önce 3757806 idi

3669255

# **RFM  metriklerinin  Hesaplanması**
R  = analizin yapıldığı  tarih - sonsatın alma yapılan tarih
F = müşterinin yaptığı topkam satın alma
M = yapılan satın almanın parasal değeri

In [23]:
# veri setindeki en son tarih 
df['InvoiceDate'].max()
# +2 günle analiz tarihi verelim
today_date= dt.datetime(2010,12,11)

In [24]:
rfm = df.groupby('Customer ID').agg({'InvoiceDate': lambda date:(today_date - date.max()).days,
                                   'Invoice': lambda num: num.nunique(),
                                   'q_p': lambda q_p: q_p.sum()})

In [25]:
rfm.head()

             InvoiceDate  Invoice      q_p
Customer ID
12346.000            165       11  372.860
12347.000              3        2 1323.320
12348.000             74        1  222.160
12349.000             43        3 2671.140
12351.000             11        1  300.930

In [26]:
rfm.shape

(4314, 3)

In [27]:
rfm.columns=['Recency','Frequency','Monetary']
rfm.head()

             Recency  Frequency  Monetary
Customer ID
12346.000        165         11   372.860
12347.000          3          2  1323.320
12348.000         74          1   222.160
12349.000         43          3  2671.140
12351.000         11          1   300.930

In [28]:
rfm.describe().T

             count     mean      std   min     25%     50%      75%        max
Recency   4314.000   91.270   96.944 1.000  18.000  53.000  136.000    374.000
Frequency 4314.000    4.454    8.169 1.000   1.000   2.000    5.000    205.000
Monetary  4314.000 2047.289 8912.523 0.000 307.950 705.550 1722.802 349164.350

In [29]:
# monetary değeri min 0 olanlar var o değerleri çıkartalım
rfm = rfm[rfm['Monetary']>0]

In [30]:
rfm.size  # 2 değer varmış 0 a eşit yada küçük

12936

In [31]:
rfm.shape

(4312, 3)

In [32]:
rfm.describe().T

             count     mean      std   min     25%     50%      75%        max
Recency   4312.000   91.173   96.861 1.000  18.000  53.000  136.000    374.000
Frequency 4312.000    4.456    8.170 1.000   1.000   2.000    5.000    205.000
Monetary  4312.000 2048.238 8914.481 2.950 307.988 706.020 1723.142 349164.350

RFM değerlerinin hesaplanması

In [33]:
#  r de değerin  küçükolması, f ve m nin büyük olmasını istiyoruz

rfm['Recency_score'] = pd.qcut(rfm['Recency'],5,labels=[5,4,3,2,1])
rfm['Frequency_score'] = pd.qcut(rfm['Frequency'].rank(method="first"), 5, labels=[1,2,3,4,5])
rfm['Monetary_score'] = pd.qcut(rfm['Monetary'], 5, labels=[1,2,3,4,5])

In [34]:
rfm.columns

Index(['Recency', 'Frequency', 'Monetary', 'Recency_score', 'Frequency_score',
       'Monetary_score'],
      dtype='object')

In [35]:
# r ve f değerlerini bir araya getirmemiz gerekiyor
rfm["RFM_SCORE"] = (rfm["Recency_score"].astype(str) +
                    rfm["Frequency_score"].astype(str))

In [36]:
rfm.head()

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RFM_SCORE
Customer ID,,,,,,,
12346.000,165,11,372.860,2,5,2,25
12347.000,3,2,1323.320,5,2,4,52
12348.000,74,1,222.160,2,1,1,21
12349.000,43,3,2671.140,3,3,5,33
12351.000,11,1,300.930,5,1,2,51

In [37]:
rfm.describe().T

             count     mean      std   min     25%     50%      75%        max
Recency   4312.000   91.173   96.861 1.000  18.000  53.000  136.000    374.000
Frequency 4312.000    4.456    8.170 1.000   1.000   2.000    5.000    205.000
Monetary  4312.000 2048.238 8914.481 2.950 307.988 706.020 1723.142 349164.350

In [38]:
# şampiyon müsteriler ==rf değeri 55 olanlar
rfm[rfm["RFM_SCORE"] == "55"]

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RFM_SCORE
Customer ID,,,,,,,
12415.000,11,7,19543.840,5,5,5,55
12431.000,9,13,4370.520,5,5,5,55
12471.000,10,49,20139.740,5,5,5,55
12472.000,5,13,11308.480,5,5,5,55
12474.000,14,13,5048.660,5,5,5,55
12483.000,14,11,2635.600,5,5,5,55
12490.000,14,11,4405.710,5,5,5,55
12523.000,10,12,2582.380,5,5,5,55
12540.000,14,16,8854.250,5,5,5,55
12567.000,3,7,4308.580,5,5,5,55
12583.000,9,13,7166.060,5,5,5,55
12600.000,7,12,2444.880,5,5,5,55
12621.000,1,16,11086.140,5,5,5,55
12647.000,3,27,14201.530,5,5,5,55
12662.000,9,10,3138.240,5,5,5,55
12678.000,11,9,16652.720,5,5,5,55
12681.000,3,24,17080.740,5,5,5,55
12682.000,1,23,11745.690,5,5,5,55
12683.000,1,8,4220.210,5,5,5,55
12708.000,4,9,2601.190,5,5,5,55
12709.000,2,20,21356.820,5,5,5,55
12712.000,1,10,2797.530,5,5,5,55
12747.000,5,16,5080.530,5,5,5,55
12748.000,1,144,22879.660,5,5,5,55
12755.000,1,10,5218.710,5,5,5,55
12779.000,7,7,2740.910,5,5,5,55
12838.000,9,9,2715.350,5,5,5,55
12839.000,3,13,4480.310,5,5,5,55
12841.000,5,17,3518.330,5,5,5,55
12872.000,1,11,3085.520,5,5,5,55
12913.000,4,9,4217.230,5,5,5,55
12921.000,2,39,19333.950,5,5,5,55
12928.000,14,7,2242.190,5,5,5,55
12935.000,11,8,2083.160,5,5,4,55
12939.000,15,12,13683.000,5,5,5,55
12971.000,2,33,4782.880,5,5,5,55
12976.000,14,7,2417.780,5,5,5,55
13013.000,7,18,7814.830,5,5,5,55
13021.000,10,8,2270.860,5,5,5,55
13047.000,9,17,5557.620,5,5,5,55
13050.000,2,19,6507.670,5,5,5,55
13069.000,5,16,5247.010,5,5,5,55
13077.000,2,8,2335.400,5,5,5,55
13078.000,2,32,16904.510,5,5,5,55
13081.000,7,19,30867.770,5,5,5,55
13089.000,4,109,57912.030,5,5,5,55
13090.000,1,13,5192.270,5,5,5,55
13093.000,9,48,47111.180,5,5,5,55
13102.000,1,14,5272.830,5,5,5,55
13113.000,2,14,6379.770,5,5,5,55
13117.000,1,12,1658.900,5,5,4,55
13126.000,2,7,1898.610,5,5,4,55
13136.000,11,8,3666.950,5,5,5,55
13173.000,3,10,2285.700,5,5,5,55
13174.000,5,10,6677.810,5,5,5,55
13199.000,2,30,6615.770,5,5,5,55
13230.000,1,17,3553.810,5,5,5,55
13267.000,2,18,5236.770,5,5,5,55
13269.000,5,14,3545.470,5,5,5,55
13305.000,8,7,1753.850,5,5,4,55
13319.000,1,34,11236.950,5,5,5,55
13327.000,1,14,6251.710,5,5,5,55
13329.000,2,7,4323.970,5,5,5,55
13394.000,15,11,4101.680,5,5,5,55
13408.000,7,46,23616.422,5,5,5,55
13418.000,8,15,6106.170,5,5,5,55
13448.000,9,9,5701.500,5,5,5,55
13450.000,10,7,2076.320,5,5,4,55
13468.000,4,38,7685.540,5,5,5,55
13485.000,12,10,2564.980,5,5,5,55
13488.000,3,11,6619.570,5,5,5,55
13491.000,8,18,3350.740,5,5,5,55
13510.000,11,7,2766.730,5,5,5,55
13534.000,15,10,1850.820,5,5,4,55
13542.000,12,17,4006.170,5,5,5,55
13555.000,14,9,4849.910,5,5,5,55
13564.000,4,35,15500.530,5,5,5,55
13576.000,9,11,4834.400,5,5,5,55
13590.000,11,12,4367.670,5,5,5,55
13599.000,2,14,5013.960,5,5,5,55
13611.000,10,7,2147.730,5,5,5,55
13634.000,10,11,3498.310,5,5,5,55
13693.000,10,9,2011.820,5,5,4,55
13694.000,9,94,131443.190,5,5,5,55
13715.000,8,13,7403.950,5,5,5,55
13735.000,12,9,6927.980,5,5,5,55
13756.000,3,10,4017.980,5,5,5,55
13758.000,2,10,6226.430,5,5,5,55
13767.000,5,39,18320.170,5,5,5,55
13769.000,3,11,3003.910,5,5,5,55
13777.000,2,37,30501.260,5,5,5,55
13798.000,8,54,38683.020,5,5,5,55
13802.000,10,16,21659.690,5,5,5,55
13824.000,15,7,1615.820,5,5,4,55
13831.000,5,13,4820.590,5,5,5,55
13838.000,5,7,1274.360,5,5,4,55
13842.000,2,10,2244.290,5,5,5,55
13854.000,1,15,4144.440,5,5,5,55
13881.000,11,23,28019.580,5,5,5,55
13901.000,10,10,2809.140,5,5,5,55
13911.000,15,11,1654.080,5,5,4,55
13941.000,8,11,6009.340,5,5,5,55
13958.000,15,8,4709.230,5,5,5,55
13963.000,3,14,2347.330,5,5,5,55
13969.000,1,18,4311.930,5,5,5,55
13983.000,2,10,4505.020,5,5,5,55
13984.000,2,8,1128.090,5,5,4,55
13985.000,10,7,2960.730,5,5,5,55
13993.000,15,10,3309.350,5,5,5,55
13995.000,15,9,2508.320,5,5,5,55
13999.000,10,17,5600.450,5,5,5,55
14001.000,9,7,2487.010,5,5,5,55
14030.000,2,14,5902.200,5,5,5,55
14031.000,1,27,23712.310,5,5,5,55
14045.000,9,13,9653.280,5,5,5,55
14047.000,8,10,2946.420,5,5,5,55
14051.000,2,15,6823.610,5,5,5,55
14060.000,2,13,3378.660,5,5,5,55
14062.000,10,12,15139.350,5,5,5,55
14081.000,5,9,4435.580,5,5,5,55
14085.000,4,16,5656.430,5,5,5,55
14092.000,10,10,3152.540,5,5,5,55
14099.000,11,9,2661.540,5,5,5,55
14113.000,11,12,5252.190,5,5,5,55
14135.000,3,11,4953.610,5,5,5,55
14156.000,7,102,196566.740,5,5,5,55
14159.000,15,9,3245.000,5,5,5,55
14180.000,8,9,1570.730,5,5,4,55
14210.000,7,11,3955.680,5,5,5,55
14217.000,2,7,1411.910,5,5,4,55
14243.000,1,8,4842.280,5,5,5,55
14282.000,3,11,4120.320,5,5,5,55
14298.000,11,38,39667.190,5,5,5,55
14299.000,1,19,10533.870,5,5,5,55
14329.000,11,8,4912.380,5,5,5,55
14344.000,3,14,2443.770,5,5,5,55
14388.000,8,9,3488.160,5,5,5,55
14395.000,8,12,4700.300,5,5,5,55
14404.000,5,8,1424.790,5,5,4,55
14415.000,15,10,6191.320,5,5,5,55
14422.000,10,13,6007.880,5,5,5,55
14440.000,1,9,4281.050,5,5,5,55
14441.000,10,7,2898.800,5,5,5,55
14466.000,8,7,2374.500,5,5,5,55
14527.000,1,69,19283.480,5,5,5,55
14540.000,15,8,2799.080,5,5,5,55
14560.000,15,22,3876.260,5,5,5,55
14606.000,2,102,18704.410,5,5,5,55
14608.000,15,7,1567.790,5,5,4,55
14625.000,10,9,3598.250,5,5,5,55
14646.000,10,78,248396.500,5,5,5,55
14667.000,1,31,12685.940,5,5,5,55
14680.000,7,43,28658.660,5,5,5,55
14688.000,9,8,2082.700,5,5,4,55
14702.000,1,13,3462.080,5,5,5,55
14709.000,15,12,3965.290,5,5,5,55
14710.000,15,9,1316.460,5,5,4,55
14713.000,1,11,2752.510,5,5,5,55
14723.000,7,7,934.760,5,5,3,55
14739.000,3,19,8385.220,5,5,5,55
14744.000,2,8,2785.100,5,5,5,55
14748.000,4,7,1736.570,5,5,4,55
14796.000,2,11,2867.150,5,5,5,55
14821.000,2,7,1237.650,5,5,4,55
14825.000,4,13,2698.170,5,5,5,55
14841.000,10,8,3867.240,5,5,5,55
14849.000,9,21,7832.910,5,5,5,55
14866.000,2,8,6460.320,5,5,5,55
14878.000,12,16,2619.700,5,5,5,55
14896.000,1,7,1623.650,5,5,4,55
14898.000,7,9,2204.290,5,5,5,55
14905.000,10,6,1355.240,5,5,4,55
14907.000,3,10,2664.690,5,5,5,55
14911.000,1,205,152147.570,5,5,5,55
14915.000,11,9,1503.770,5,5,4,55
14961.000,15,13,9365.470,5,5,5,55
14963.000,15,7,1676.680,5,5,4,55
14987.000,1,7,1387.450,5,5,4,55
15002.000,3,6,3175.520,5,5,5,55
15005.000,2,29,7789.630,5,5,5,55
15023.000,5,10,5367.920,5,5,5,55
15024.000,3,8,2414.180,5,5,5,55
15032.000,2,7,8821.550,5,5,5,55
15039.000,4,47,20116.990,5,5,5,55
15044.000,15,18,8504.100,5,5,5,55
15051.000,15,6,2543.550,5,5,5,55
15059.000,12,10,2185.850,5,5,5,55
15061.000,3,86,83284.380,5,5,5,55
15078.000,4,23,8018.770,5,5,5,55
15079.000,1,8,2871.740,5,5,5,55
15081.000,3,8,1460.920,5,5,4,55
15093.000,8,18,9729.090,5,5,5,55
15100.000,2,6,2018.700,5,5,4,55
15144.000,15,12,5579.870,5,5,5,55
15194.000,4,14,4811.160,5,5,5,55
15199.000,10,6,1853.700,5,5,4,55
15235.000,5,6,690.300,5,5,3,55
15240.000,10,7,2753.410,5,5,5,55
15260.000,8,20,7377.460,5,5,5,55
15271.000,1,10,2202.470,5,5,5,55
15281.000,14,7,6211.420,5,5,5,55
15288.000,1,6,1576.610,5,5,4,55
15291.000,9,26,9178.260,5,5,5,55
15298.000,2,12,4659.470,5,5,5,55
15299.000,8,6,3484.530,5,5,5,55
15301.000,4,6,2533.090,5,5,5,55
15311.000,1,121,56003.260,5,5,5,55
15329.000,10,8,1934.630,5,5,4,55
15332.000,2,6,4892.680,5,5,5,55
15353.000,3,6,2398.930,5,5,5,55
15358.000,1,22,8703.210,5,5,5,55
15373.000,7,6,1005.480,5,5,4,55
15380.000,1,7,1788.800,5,5,4,55
15382.000,10,6,7777.840,5,5,5,55
15434.000,10,6,1525.580,5,5,4,55
15465.000,5,15,5301.030,5,5,5,55
15498.000,2,19,12723.180,5,5,5,55
15513.000,1,18,12992.330,5,5,5,55
15514.000,15,7,2459.090,5,5,5,55
15518.000,15,7,2276.490,5,5,5,55
15532.000,12,6,2190.970,5,5,5,55
15544.000,8,12,4615.720,5,5,5,55
15547.000,12,12,5199.550,5,5,5,55
15550.000,14,8,1643.170,5,5,4,55
15555.000,1,22,7307.180,5,5,5,55
15570.000,5,14,5145.520,5,5,5,55
15580.000,12,8,1381.190,5,5,4,55
15581.000,2,26,4114.620,5,5,5,55
15601.000,8,17,8183.560,5,5,5,55
15602.000,4,8,1932.640,5,5,4,55
15628.000,2,9,2782.020,5,5,5,55
15638.000,14,6,2265.200,5,5,5,55
15640.000,8,15,11441.920,5,5,5,55
15660.000,1,7,1212.130,5,5,4,55
15661.000,15,6,906.150,5,5,3,55
15680.000,2,8,3173.900,5,5,5,55
15681.000,15,9,1563.540,5,5,4,55
15694.000,1,12,4331.410,5,5,5,55
15712.000,15,7,2400.050,5,5,5,55
15716.000,5,8,1938.000,5,5,4,55
15732.000,8,9,1387.950,5,5,4,55
15738.000,8,26,8560.550,5,5,5,55
15747.000,11,6,1588.570,5,5,4,55
15750.000,2,12,4331.711,5,5,5,55
15755.000,15,11,3628.870,5,5,5,55
15769.000,7,21,32451.600,5,5,5,55
15785.000,15,11,3640.960,5,5,5,55
15796.000,10,9,2464.270,5,5,5,55
15808.000,5,18,14674.960,5,5,5,55
15827.000,8,16,1957.980,5,5,4,55
15838.000,3,16,40519.920,5,5,5,55
15854.000,12,9,2609.160,5,5,5,55
15856.000,1,26,17832.770,5,5,5,55
15858.000,3,9,2521.520,5,5,5,55
15860.000,4,10,1528.000,5,5,4,55
15862.000,9,10,2095.410,5,5,4,55
15867.000,5,17,5251.310,5,5,5,55
15882.000,4,6,979.620,5,5,3,55
15889.000,5,7,1359.410,5,5,4,55
15898.000,3,22,4207.430,5,5,5,55
15916.000,2,7,1899.080,5,5,4,55
15950.000,11,6,5415.200,5,5,5,55
15953.000,5,11,2010.170,5,5,4,55
15955.000,8,9,4242.100,5,5,5,55
15965.000,3,10,2167.450,5,5,5,55
15967.000,15,10,2622.770,5,5,5,55
15983.000,1,6,2483.800,5,5,5,55
15984.000,4,21,5921.650,5,5,5,55
16005.000,11,6,1820.830,5,5,4,55
16010.000,12,8,1316.560,5,5,4,55
16011.000,2,14,2517.750,5,5,5,55
16013.000,7,39,20315.840,5,5,5,55
16029.000,8,47,41184.300,5,5,5,55
16033.000,5,8,2019.730,5,5,4,55
16059.000,3,7,1757.910,5,5,4,55
16065.000,1,8,2010.530,5,5,4,55
16086.000,3,6,1743.600,5,5,4,55
16094.000,11,7,2617.330,5,5,5,55
16098.000,9,8,2442.470,5,5,5,55
16125.000,3,14,4298.300,5,5,5,55
16126.000,15,11,8359.030,5,5,5,55
16131.000,11,6,6450.880,5,5,5,55
16133.000,12,23,8403.220,5,5,5,55
16143.000,5,7,2485.890,5,5,5,55
16150.000,8,6,2342.570,5,5,5,55
16161.000,4,25,7256.240,5,5,5,55
16168.000,5,40,6848.870,5,5,5,55
16186.000,8,15,5019.170,5,5,5,55
16191.000,11,11,10507.500,5,5,5,55
16210.000,4,19,17403.210,5,5,5,55
16218.000,9,7,1355.290,5,5,4,55
16221.000,3,7,1370.650,5,5,4,55
16233.000,2,7,1429.030,5,5,4,55
16255.000,1,8,2286.890,5,5,5,55
16293.000,3,6,2408.960,5,5,5,55
16327.000,5,11,6887.120,5,5,5,55
16353.000,5,16,3323.750,5,5,5,55
16359.000,12,7,946.830,5,5,3,55
16365.000,3,7,1766.780,5,5,4,55
16393.000,5,11,2515.450,5,5,5,55
16401.000,15,11,2750.830,5,5,5,55
16422.000,5,59,28967.070,5,5,5,55
16455.000,7,6,2543.190,5,5,5,55
16456.000,9,9,4704.540,5,5,5,55
16458.000,11,12,2232.600,5,5,5,55
16499.000,10,6,2212.890,5,5,5,55
16510.000,8,6,1851.900,5,5,4,55
16525.000,2,23,11555.190,5,5,5,55
16539.000,9,7,2343.200,5,5,5,55
16550.000,4,14,7136.160,5,5,5,55
16556.000,11,10,4698.790,5,5,5,55
16558.000,2,19,5535.020,5,5,5,55
16570.000,15,10,3695.910,5,5,5,55
16592.000,11,12,3694.230,5,5,5,55
16600.000,10,7,1339.890,5,5,4,55
16638.000,4,6,749.810,5,5,3,55
16658.000,4,6,690.830,5,5,3,55
16684.000,15,27,80489.210,5,5,5,55
16700.000,2,13,4091.160,5,5,5,55
16709.000,15,9,6057.590,5,5,5,55
16710.000,4,13,3866.050,5,5,5,55
16713.000,2,18,7637.560,5,5,5,55
16717.000,2,9,3127.850,5,5,5,55
16719.000,4,8,2182.880,5,5,5,55
16722.000,2,11,4258.270,5,5,5,55
16725.000,7,8,1101.090,5,5,4,55
16754.000,8,29,65500.070,5,5,5,55
16775.000,3,6,1361.230,5,5,4,55
16779.000,2,32,22638.520,5,5,5,55
16782.000,1,26,8158.510,5,5,5,55
16814.000,5,16,5990.610,5,5,5,55
16839.000,5,11,5716.140,5,5,5,55
16858.000,4,10,4292.590,5,5,5,55
16883.000,7,18,2119.860,5,5,4,55
16891.000,7,7,1247.120,5,5,4,55
16904.000,3,7,1378.100,5,5,4,55
16905.000,7,11,1931.720,5,5,4,55
16919.000,4,14,2529.460,5,5,5,55
16923.000,11,13,6130.750,5,5,5,55
16928.000,9,13,1265.630,5,5,4,55
16950.000,3,8,2605.810,5,5,5,55
16954.000,15,11,3996.800,5,5,5,55
16985.000,12,13,5459.040,5,5,5,55
17001.000,12,8,2651.230,5,5,5,55
17017.000,1,13,5416.350,5,5,5,55
17019.000,4,8,2739.590,5,5,5,55
17044.000,10,11,11013.820,5,5,5,55
17049.000,11,10,4287.500,5,5,5,55
17068.000,4,27,4608.940,5,5,5,55
17069.000,9,6,3084.580,5,5,5,55
17085.000,12,23,6324.760,5,5,5,55
17090.000,10,6,1105.530,5,5,4,55
17091.000,3,11,3983.340,5,5,5,55
17150.000,12,6,1375.650,5,5,4,55
17160.000,10,11,6691.130,5,5,5,55
17191.000,4,11,2740.920,5,5,5,55
17211.000,5,6,1729.430,5,5,4,55
17213.000,2,7,2401.070,5,5,5,55
17218.000,4,9,2231.960,5,5,5,55
17227.000,4,7,1082.710,5,5,4,55
17228.000,3,7,1271.150,5,5,4,55
17235.000,8,7,1354.820,5,5,4,55
17238.000,7,17,4038.450,5,5,5,55
17243.000,5,44,12213.010,5,5,5,55
17262.000,2,7,1504.260,5,5,4,55
17281.000,10,6,797.850,5,5,3,55
17287.000,3,16,3047.850,5,5,5,55
17289.000,12,6,1134.980,5,5,4,55
17324.000,2,9,1311.640,5,5,4,55
17338.000,11,9,5498.640,5,5,5,55
17340.000,2,8,10051.530,5,5,5,55
17345.000,11,6,1066.940,5,5,4,55
17346.000,9,12,2646.440,5,5,5,55
17364.000,12,17,7589.240,5,5,5,55
17368.000,11,6,913.470,5,5,3,55
17377.000,1,60,14218.490,5,5,5,55
17381.000,4,12,19726.760,5,5,5,55
17389.000,10,27,25391.000,5,5,5,55
17396.000,7,7,1476.300,5,5,4,55
17402.000,5,12,2462.330,5,5,5,55
17406.000,2,11,2704.630,5,5,5,55
17412.000,8,10,3159.460,5,5,5,55
17419.000,3,8,2273.950,5,5,5,55
17428.000,4,18,14562.910,5,5,5,55
17450.000,3,7,52422.300,5,5,5,55
17457.000,15,9,4247.110,5,5,5,55
17460.000,8,12,1605.840,5,5,4,55
17470.000,3,7,1679.800,5,5,4,55
17491.000,3,8,2422.200,5,5,5,55
17511.000,3,31,84541.170,5,5,5,55
17519.000,4,10,3265.450,5,5,5,55
17526.000,1,9,2970.140,5,5,5,55
17552.000,8,10,2154.880,5,5,5,55
17572.000,9,7,496.260,5,5,2,55
17576.000,1,23,5434.130,5,5,5,55
17581.000,8,20,7712.710,5,5,5,55
17596.000,4,7,2092.740,5,5,4,55
17612.000,15,12,3346.410,5,5,5,55
17646.000,1,10,3141.400,5,5,5,55
17673.000,11,7,2604.460,5,5,5,55
17675.000,3,40,17885.320,5,5,5,55
17677.000,2,28,20329.680,5,5,5,55
17682.000,4,6,1982.450,5,5,4,55
17685.000,8,6,2751.640,5,5,5,55
17690.000,2,8,2690.150,5,5,5,55
17706.000,2,17,10245.490,5,5,5,55
17707.000,12,6,456.900,5,5,2,55
17720.000,3,7,1572.970,5,5,4,55
17732.000,8,8,2166.420,5,5,5,55
17735.000,3,8,4134.910,5,5,5,55
17739.000,10,11,4939.240,5,5,5,55
17754.000,10,8,2805.270,5,5,5,55
17757.000,4,28,3817.160,5,5,5,55
17790.000,14,6,818.060,5,5,3,55
17802.000,8,8,3768.080,5,5,5,55
17809.000,7,11,5925.480,5,5,5,55
17811.000,10,8,1772.070,5,5,4,55
17819.000,7,6,2907.650,5,5,5,55
17838.000,1,10,3943.600,5,5,5,55
17841.000,1,91,29892.500,5,5,5,55
17850.000,8,155,51208.870,5,5,5,55
17858.000,5,19,7641.990,5,5,5,55
17863.000,5,7,2585.200,5,5,5,55
17865.000,11,26,15848.070,5,5,5,55
17873.000,9,14,4656.720,5,5,5,55
17884.000,4,18,2355.440,5,5,5,55
17888.000,10,17,1094.390,5,5,4,55
17894.000,2,11,1333.570,5,5,4,55
17897.000,3,8,2018.400,5,5,4,55
17905.000,9,10,1583.280,5,5,4,55
17920.000,4,39,20312.360,5,5,5,55
17921.000,15,6,1596.980,5,5,4,55
17949.000,7,74,60117.600,5,5,5,55
17950.000,1,6,950.610,5,5,3,55
17954.000,3,9,1633.330,5,5,4,55
17961.000,8,62,1699.100,5,5,4,55
17965.000,1,17,4618.410,5,5,5,55
17975.000,2,12,2540.020,5,5,5,55
18025.000,15,6,1177.720,5,5,4,55
18041.000,1,20,4568.990,5,5,5,55
18055.000,3,6,4411.380,5,5,5,55
18061.000,2,19,4369.560,5,5,5,55
18075.000,10,10,3171.540,5,5,5,55
18077.000,2,8,1705.550,5,5,4,55
18087.000,15,15,10705.800,5,5,5,55
18092.000,1,8,7111.180,5,5,5,55
18102.000,1,89,349164.350,5,5,5,55
18109.000,5,13,1840.990,5,5,4,55
18144.000,9,8,2169.250,5,5,5,55
18168.000,8,11,2600.330,5,5,5,55
18170.000,10,6,1897.690,5,5,4,55
18219.000,4,8,1493.120,5,5,4,55
18225.000,1,15,7545.140,5,5,5,55
18226.000,14,15,6650.830,5,5,5,55
18229.000,2,10,3526.810,5,5,5,55
18245.000,15,13,3757.920,5,5,5,55
18260.000,10,17,7318.910,5,5,5,55

RFM SEGMENTLERİNİN OLUŞTURULMASI VE ANALİZ  EDİLMESİ

In [43]:
# RFM isimlendirmesi
seg_map = {
    r'[1-2][1-2]': 'Hibernating',
    r'[1-2][3-4]': 'At_Risk',
    r'[1-2]5': 'Cant_loose',
    r'3[1-2]': 'About_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [44]:
rfm['segment'] = rfm['RFM_SCORE'].replace(seg_map, regex=True)

In [45]:
rfm.head()

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RFM_SCORE,segment
Customer ID,,,,,,,,
12346.000,165,11,372.860,2,5,2,25,Cant_loose
12347.000,3,2,1323.320,5,2,4,52,potential_loyalists
12348.000,74,1,222.160,2,1,1,21,Hibernating
12349.000,43,3,2671.140,3,3,5,33,need_attention
12351.000,11,1,300.930,5,1,2,51,new_customers

In [50]:
# elde ettğimiz sınıfların analizini yapalım
rfm[["segment", "Recency", "Frequency", "Monetary"]].groupby("segment").agg(["mean","count"])

                    Recency       Frequency       Monetary
                       mean count      mean count     mean count
segment
About_to_sleep       53.819   343     1.201   343  441.320   343
At_Risk             152.159   611     3.074   611 1188.878   611
Cant_loose          124.117    77     9.117    77 4099.450    77
Hibernating         213.886  1015     1.126  1015  403.978  1015
champions             7.119   663    12.554   663 6852.264   663
loyal_customers      36.287   742     6.830   742 2746.067   742
need_attention       53.266   207     2.449   207 1060.357   207
new_customers         8.580    50     1.000    50  386.199    50
potential_loyalists  18.793   517     2.017   517  729.511   517
promising            25.747    87     1.000    87  367.087    87

In [52]:
# belirli bir sınıfa ( need attention) erişmek istersek
rfm[rfm["segment"]== "need_attention"].head()

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RFM_SCORE,segment
Customer ID,,,,,,,,
12349.000,43,3,2671.140,3,3,5,33,need_attention
12369.000,49,3,1791.150,3,3,4,33,need_attention
12371.000,45,3,2179.420,3,3,5,33,need_attention
12374.000,57,3,2246.290,3,3,5,33,need_attention
12389.000,38,3,1433.330,3,3,4,33,need_attention

In [55]:
# belirli bir sınıfa ( cant_loose) erişmek istersek
rfm[rfm["segment"] == "Cant_loose"].head()

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RFM_SCORE,segment
Customer ID,,,,,,,,
12346.000,165,11,372.860,2,5,2,25,Cant_loose
12380.000,101,7,6951.490,2,5,5,25,Cant_loose
12482.000,212,29,23691.400,1,5,5,15,Cant_loose
12510.000,95,7,4195.450,2,5,5,25,Cant_loose
12891.000,94,8,509.500,2,5,3,25,Cant_loose

In [57]:
# kaybedemeyeceğimiz müşterilerinindex bilgisi
rfm[rfm["segment"] == "Cant_loose"].index

Float64Index([12346.0, 12380.0, 12482.0, 12510.0, 12891.0, 12932.0, 13044.0,
              13313.0, 13680.0, 13782.0, 13799.0, 13856.0, 14025.0, 14063.0,
              14160.0, 14221.0, 14548.0, 14607.0, 14685.0, 14745.0, 15003.0,
              15013.0, 15015.0, 15125.0, 15141.0, 15222.0, 15306.0, 15321.0,
              15359.0, 15369.0, 15372.0, 15443.0, 15538.0, 15607.0, 15633.0,
              15722.0, 15751.0, 15754.0, 15768.0, 15911.0, 15912.0, 16027.0,
              16032.0, 16158.0, 16177.0, 16197.0, 16335.0, 16467.0, 16631.0,
              16742.0, 16743.0, 16875.0, 16986.0, 17021.0, 17032.0, 17092.0,
              17113.0, 17157.0, 17188.0, 17230.0, 17268.0, 17426.0, 17448.0,
              17454.0, 17512.0, 17578.0, 17602.0, 17651.0, 17940.0, 17969.0,
              17988.0, 18009.0, 18051.0, 18064.0, 18094.0, 18251.0, 18258.0],
             dtype='float64', name='Customer ID')

In [64]:
#  can_loose indexlerini kullanılabilir olarak dışarıçıkaralım
new_df =pd.DataFrame()
new_df["new_customer_id"] =rfm[rfm["segment"]== "new_customers"].index

In [66]:
new_df["new_customer_id"] = rfm[rfm["segment"] == "new_customers"].index
new_df.head()

   new_customer_id
0        12351.000
1        12385.000
2        12386.000
3        12427.000
4        12441.000

In [67]:
# new id değerlerinin sonundaki  3 adet sıfır işimize yaramıyor. Kurtulalım...
new_df = new_df["new_customer_id"].astype(int)
new_df.head()

0    12351
1    12385
2    12386
3    12427
4    12441
Name: new_customer_id, dtype: int64

In [71]:
# oluşturduğumuz new_customer_id değerlerinin bir csv dosyasına çevirelim
new_df.to_csv("new_customers.csv")

In [72]:
# bütün segment dosyasını da oluşturabiliriz
rfm.to_csv("rfm.csv")